<%= form_with(model: group, class: "contents") do |form| %>
  <%= render "shared/errors", object: group %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Group details</legend>

    <%= form.label      :name, class: "label" %>
    <%= form.text_field :name, class: "input w-full" %>

    <%= form.label     :description, class: "label" %>
    <%= form.text_area :description, class: "textarea w-full" %>

    <%= form.fields_for :address do |address_form| %>
      <%= render "addresses/form_fields", form: address_form %>
    <% end %>
  </fieldset>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
