<%= form_with(model: user, class: "contents") do |form| %>
  <%= render "shared/errors", object: user %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Account details</legend>

    <%= form.label       :email, class: "label" %>
    <%= form.email_field :email, class: "input w-full" %>

    <%= form.label          :password, class: "label" %>
    <%= form.password_field :password, class: "input w-full" %>
  </fieldset>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
