<%= form_with(model: [group, event, registration], class: "contents") do |form| %>
  <%= render "shared/errors", object: registration %>

  <div class="main">
    <%= form.label :member_id %>
    <%= form.collection_select :member_id, members_available(group, event), :id, :full_name %>

    <%= form.label :status %>
    <%= form.select :status, registration_statuses %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
