<%= form_with(model: [group, event, registration], class: "contents") do |form| %>
  <%= render "shared/errors", object: registration %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Registration details</legend>

    <%= form.label :member_id, class: "label" %>
    <%= form.collection_select :member_id, members_available(group, event), :id, :full_name, {}, class: "select w-full" %>

    <%= form.label :status, class: "label" %>
    <%= form.select :status, registration_statuses, {}, class: "select w-full" %>
  </fieldset>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
