<%= form_with(model: event, class: "contents") do |form| %>
  <%= render "shared/errors", object: event %>

  <div class="main">
    <%= form.label      :name %>
    <%= form.text_field :name %>

    <%= form.label     :description %>
    <%= form.text_area :description %>

    <%= form.label          :starts_at %>
    <%= form.datetime_field :starts_at %>

    <%= form.label  :status %>
    <%= form.select :status, Event.statuses.keys.map { [it.upcase, it] } %>

    <%= form.label  :category %>
    <%= form.select :category, Event.categories.keys %>

    <%= form.label             :creator_id %>
    <%= form.collection_select :creator_id, event.group.members, :id, :full_name %>

    <%= form.label             :manager_id %>
    <%= form.collection_select :manager_id, event.group.members, :id, :full_name %>

    <%= form.fields_for :address do |address_form| %>
      <%= render "addresses/form_fields", form: address_form %>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
