<%= form_with(model: user_profile, class: "contents") do |form| %>
  <%= render "shared/errors", object: user_profile %>

  <div class="main">
    <%= form.text_field :first_name %>
    <%= form.text_field :last_name %>
    <%= form.telephone_field :mobile_phone %>
    <%= form.number_field :user_id %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
