<%= form_with(model: user_profile, class: "contents") do |form| %>
  <%= render "shared/errors", object: user_profile %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Profile details</legend>

    <%= form.label      :first_name, class: "label" %>
    <%= form.text_field :first_name, class: "input w-full" %>

    <%= form.label      :last_name, class: "label" %>
    <%= form.text_field :last_name, class: "input w-full" %>

    <%= form.label           :mobile_phone, class: "label" %>
    <%= form.telephone_field :mobile_phone, class: "input w-full" %>

    <%= form.label        :user_id, class: "label" %>
    <%= form.number_field :user_id, class: "input w-full" %>
  </fieldset>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
