<div id="<%= dom_id address %>" class="w-full sm:w-auto my-5 space-y-5">
  <ul>
    <li>
      <%= address.name %>
    </li>
    <li>
      <%= address.street_name %>
    </li>
    <li>
      <%= address.building_number %>
    </li>
    <li>
      <%= address.city %>
    </li>
    <li>
      <%= address.postal_code %>
    </li>
    <li>
      <%= address.state_code %>
    </li>
    <li>
      <%= address.country_code %>
    </li>
    <li>
      <%= address.latitude %>
    </li>
    <li>
      <%= address.longitude %>
    </li>
  </ul>
</div>
