<% content_for :title, "Addresses" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Addresses</h1>
    <%= link_to "New address", new_address_path, class: "btn btn-primary" %>
  </div>

  <div id="addresses" class="min-w-full divide-y divide-base-300 space-y-5">
    <% if @addresses.any? %>
      <% @addresses.each do |address| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render address %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", address_path(address), class: "btn btn-ghost" %>
            <%= link_to "Edit", edit_address_path(address), class: "btn btn-ghost" %>
            <%= button_to "Destroy", address_path(address), method: :delete, class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No addresses found.</p>
    <% end %>
  </div>
</div>
