<%= form_with(model: [group, member], class: "contents") do |form| %>
  <%= render "shared/errors", object: member %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Member details</legend>

    <%= form.label  :status, class: "label" %>
    <%= form.select :status, member_statuses, {}, class: "select w-full" %>

    <%= form.label  :role, class: "label" %>
    <%= form.select :role, member_roles, {}, class: "select w-full" %>
  </fieldset>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
